* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2vw 0;
}

#box{
    width: 400px;
    height: 400px;
    background-color: red;
}

#box:hover {
    background-color: blue;
    transition: 3s;
    /* transform: rotate(30deg); */
    /* transform: translate(50px, 50px); */
    /* transform: skew(20deg); */
    /* transform: scale(0.4); */
}